/*******************************
            Global
*******************************/

html {
  font-size: 18px;
}

/*--------------
    Header
---------------*/

.global .masthead {
  background-image: url(img/skulls.png);
  margin: 0em;
  padding: 2rem 0rem;
}
.global .masthead .column {
  position: relative;
}
.global .masthead .information {
  margin: 2em 1em 1em 10px;
}
.global .masthead .information p {
  max-width: 600px;
}

/*--------------
    Menu
---------------*/

.global .menu .right.menu > .mobile.item {
  display: none;
}

/*--------------
    Ribbons
---------------*/

.global .segment h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.global .vertical.segment {
  padding: 3rem 0rem;
}

.global .feature.segment {
  margin: 0em;
  padding: 3rem 0rem;
}
.global .feature.segment p {
  min-height: 50px;
}

.global .selection.list {
  margin: 0em -0.5em;
}

/*--------------
    Footer
---------------*/

.global .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}

.global .copyright.segment {
  margin: 0em;
}

/*******************************
            Home Page
*******************************/

/*--------------
    Newsletter
---------------*/

.home .newsletter.button {
  margin-top: 10px;
}


/*--------------
    Tags
---------------*/

.home .tag {
  margin-right: 5px;
  margin-bottom: 5px;
}


/*******************************
            Post Layout
*******************************/


/*******************************
            Landing Layout
*******************************/



/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  .global .menu .right.menu > .item {
    display: none;
  }

  .global .menu .right.menu > .mobile.item {
    display: block;
  }
  
  .global .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  .global .selection.list .right.floated {
    display: none;
  }

  .global h1 {
    font-size: 1.5em;
  }
  
  .global .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .global .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .global .masthead.segment .button {
    font-size: 1rem;
  }

  .global .masthead.segment .column {
    font-size: 0.7rem;
  }

  .global .masthead.segment .column p {
    display: none;
  }

}