/*******************************
            Global
*******************************/

html {
  font-size: 18px;
}

/*--------------
    Subtle Patterns
---------------*/
.global .dark-wood {
  background-image: url(img/dark_wood.png);
}

.global .retina-wood {
  background-image: url(img/retina_wood.png);
}

.global .escheresque {
  background-image: url(img/escheresque_ste.png);
}

.global .grey-wash-wall {
  background-image: url(img/grey_wash_wall.png);
}

.global .skulls {
  background-image: url(img/skulls.png);
}

.global .symphony {
  background-image: url(img/symphony.png);
}

/*--------------
    Header
---------------*/
.global .masthead {
  margin: 0em;
  padding: 1rem 0rem;
}
.global .masthead .column {
  position: relative;
}
.global .masthead .information {
  margin: 1em;
}


/*--------------
    Menu
---------------*/

.global .menu .right.menu > .mobile.item {
  display: none;
}

/*--------------
    Ribbons
---------------*/

.global .segment h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.global .vertical.segment {
  padding: 3rem 0rem;
}

.global .feature.segment {
  margin: 0em;
  padding: 3rem 0rem;
}
.global .feature.segment p {
  min-height: 50px;
}

.global .selection.list {
  margin: 0em -0.5em;
}


.special.cards .image {
  overflow: hidden;
  height: 135px;
}

.special.cards .description {
  min-height: 100px;
}

/*--------------
    Tags
---------------*/

.global .tag {
  margin-right: 5px;
  margin-bottom: 5px;
}

.global .label.categories {
  margin-right: 5px;
  margin-bottom: 5px;
}

.global .recent-posts-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.global .thumb-img {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*--------------
    Footer
---------------*/

.global .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}

.global .copyright.segment {
  margin: 0em;
}
  
/*--------------
    Newsletter
---------------*/

.global .newsletter.button {
  margin-top: 10px;
}



/*******************************
            Landing Layout
*******************************/


/*******************************
            Kitchen Sink
*******************************/

.demo.container {
  width: 90%;
  margin: 10px auto;
}

.global .example {
  padding: 2em 0em;
  margin: 2em 0em;
}

.global .button.demo > .buttons,
.global .button.demo > .button,
.global .button.demo > .segment > .button {
  margin-bottom: 0.5em;
}
.global h4:first-child {
  font-weight: bold !important;
  margin: 0em 0em 1em !important;
}
.global .example:first-child {
  margin-top: 0;
  padding-top: 0;
}
.global .segment.example {
  z-index: 1;
}


/*******************************
          Responsive
*******************************/

/* [Hack] for Kitchen Sink. Needs to be done in Semantic UI Grid or take care of all resolutions. */
@media only screen and (min-width : 950px) {
  .demo.container {
    width: 950px;
  }
  
}

/* Mobile Only */
@media only screen and (max-width : 768px) {

  .global .menu .right.menu > .item {
    display: none;
  }

  .global .menu .right.menu > .mobile.item {
    display: block;
  }
  
  .global .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  .global .selection.list .right.floated {
    display: none;
  }

  .global h1 {
    font-size: 2em;
  }
  
  .global .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .global .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .global .masthead.segment .button {
    font-size: 1rem;
  }

  .global .masthead.segment .column {
    font-size: 0.7rem;
  }

  .global .masthead.segment .column p {
    display: none;
  }

}