/*******************************
       Global Resets
*******************************/
html {
  font-size: 18px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.ui.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

/*--------------
    Subtle Patterns
---------------*/
.global .blue-round-gradient {
  background-color: #7e8bbc;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmOGI2ZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAzNjA3OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #f8b6ff 0%, #036078 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #f8b6ff 0%, #036078 100%); }

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .global .blue-round-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8b6ff",endColorstr="#ff036078",GradientType=0); } }

.global .black-shine-gradient {
  background-color: #2b323f;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDg1NTZjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiMzNTNiNDUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top, #48556c 0%, #1b212b 50%, #141922 51%, #353b45 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom, #48556c 0%, #1b212b 50%, #141922 51%, #353b45 100%); }

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .global .black-shine-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff48556c",endColorstr="#ff353b45",GradientType=0); } }

.global .tiny-grid {
  background-image: url(img/tiny_grid.png); }

.global .graphy {
  background-image: url(img/graphy.png); }

.global .dark-wood {
  background-image: url(img/dark_wood.png); }

.global .retina-wood {
  background-image: url(img/retina_wood.png); }

.global .escheresque {
  background-image: url(img/escheresque_ste.png); }

.global .grey-wash-wall {
  background-image: url(img/grey_wash_wall.png); }

.global .skulls {
  background-image: url(img/skulls.png); }

.global .symphony {
  background-image: url(img/symphony.png); }

/*--------------
    Header
---------------*/
.global .masthead {
  margin: 0;
  padding: 1rem 0; }

.global .masthead .column {
  position: relative; }

.global .masthead .information {
  margin: 1em; }

.global .slim-header-light {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0; }

/* Source: http://markdotto.com/playground/3d-text/ */
.global .header-3d-center {
  text-align: center; }

/* Source: http://markdotto.com/playground/3d-text/ */
.global .header-3d {
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*--------------
    Menu
---------------*/
.global .menu .right.menu > .mobile.item {
  display: none; }

/*--------------
    Ribbons
---------------*/
.global .segment h1 {
  font-size: 2em;
  margin-bottom: 1em; }

.global .vertical.segment {
  padding: 3rem 0; }

.global .feature.segment {
  margin: 0;
  padding: 3rem 0; }

.global .feature.segment p {
  min-height: 50px; }

.global .selection.list {
  margin: 0 -0.5em; }

/*--------------
    Tags
---------------*/
.global .tag {
  margin-right: 5px;
  margin-bottom: 5px; }

.global .label.categories {
  margin-right: 5px;
  margin-bottom: 5px; }

.global .recent-posts-title {
  margin-top: 5px;
  margin-bottom: 5px; }

.global .thumb-img {
  margin-top: 15px;
  margin-bottom: 15px; }

/*--------------
    Footer
---------------*/
.global .footer.segment {
  background-color: #000000;
  padding: 3rem 0; }

.global .copyright.segment {
  margin: 0; }

/*--------------
    Newsletter
---------------*/
.global .newsletter.button {
  margin-top: 10px; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/*******************************
          Responsive
*******************************/
/* Mobile Only */
@media only screen and (max-width: 768px) {
  .global .menu .right.menu > .item {
    display: none; }
  .global .menu .right.menu > .mobile.item {
    display: block; }
  .global .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0; }
  .global .selection.list .right.floated {
    display: none; }
  .global h1 {
    font-size: 2em; }
  .global h2 {
    font-size: 1.5em; }
  .global .overview .divided.grid .header .icon {
    font-size: 1.5em; }
  .global .overview .divided.grid .header + p {
    min-height: 0; }
  .global .masthead.segment .button {
    font-size: 1rem; }
  .global .masthead.segment .column {
    font-size: 0.7rem; }
  .global .masthead.segment .column p {
    display: none; } }
