---
layout: landing
title: Undergraduate Center
description: Catering For The Undergraduate Community Of Computer Scientists
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
  
    <div class="eight wide column">
      <h1> Computer Science Undergraduate Center
      <p >Aspiring computer scientists are of just as great importance to the community <br />
          as are graduate computer scientists. Equipped with the appropriate resources and <br />
          drive towards excellence, undergrads can achieve lengths of great heights.<br />
          As the computer science community, we intend to nurture and cultivate our undergraduate<br />
          computer scientists into beings of utmost excellence.
      </p>
      </h1>
        <!-- {% include recent-posts.html %}-->
      </div>

      <div class="eight wide column">
          
          <!--{% include feature-post.html %}--> 

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          <!-- {% include site-tags.html %}-->
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          <!-- {% include site-categories.html %}-->
          
      </div>
    </div> <!-- /row -->
  </div>
</div>
