---
layout: landing
title: Undergraduate Center
description: Catering For The Undergraduate Community Of Computer Scientists
---

<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
  
    <!-- Left Column -->
    <div class="ten wide column">
      <h1>Computer Science Undergraduate Center
        <p >Aspiring computer scientists are of just as great importance to the community <br />
          as are graduate computer scientists. Equipped with the appropriate resources and <br />
          drive towards excellence, undergrads can achieve lengths of great heights.<br />
          As the computer science community, we intend to nurture and cultivate our undergraduate<br />
          computer scientists into beings of utmost excellence.
        </p>
      </h1>
    </div>
    <!-- Left Column -->

    <div class="five wide column">
    <div class="ui inverted segment">
        
      <h1>Available Opportunities For Certification</h1>
      <p>Whilst pursuing a degree, many undergradutes should also consider opportunities for<br/><a href="#opportunityModal">More</a>
      <div id="opportunityModal" class="modalDialog" >
        <div>
          <a href="#close" data-dismiss="modal" title="Close" class="close">[X]</a>
          <h1>Available Opportunities For Certification</h1>
          <p >Whilst pursuing a degree, many undergradutes should also consider opportunities
              for program certification while still an undergradute. For such opportunities usually
              present themselves for less costs while still a student. In addition, a certified
              computer science graduate has an advantage over an un-certified graduate
              in the world of employment.<br/>
              Such opportuinites come in the form of:
              <ul>
              <li>CISCO</li>
              <li>SAP</li>
              <li>ORACLE</li>
              </ul></p>
        </div>
      </div>
      </p>

      <div class="ui inverted divider"></div>
        <!-- {% include site-tags.html %}-->
          
      <div class="ui inverted divider"></div>
        <!-- {% include site-categories.html %}-->
          
      </div>
    </div> <!-- /row -->
  </div>
</div>
