---
layout: landing
title: Undergraduate Center
description: Catering For The Undergraduate Community Of Computer Scientists
---
    
<!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
<script src="/js/jquery.min.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/tab.js"></script>
<script src="/js/bootstrap.min.js"></script>


<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
    <!-- Left Column -->
    <div class="ten wide column">
      <h3>Computer Science Undergraduate Center</h3>
        <p class="text-justify">Aspiring computer scientists are just as great of an importance to the community
          as are graduate computer scientists. Equipped with the appropriate resources and
          drive towards excellence, undergrads can achieve lengths of great heights.<br />
          As the computer science community, we intend to nurture and cultivate our 
          undergraduate computer scientists into beings of utmost excellence.<br/><br/>
          Alas, we intend to undergo the nurturing process by ensuring provision of
          <a href="/resources/" title="Resources">resources</a>,
          <a href="#eventModal" title="Activities" class="activities">activities</a>
          and presentation of opportunities within the Univeristy of Botswana
          community as well as within the external environment that will aid our aspiring
          computer scientists in their pursuit of excellence.<br/></br>
        </p>
        
        <p>The Department of Computer Science offers the following undergraduate programmes:</br></br>
        <th>Single Major programmes leading to the award of:</th> 
        <ol type="a">
          <li>B.Sc. (Computer Science)</li>
          <li>B.Sc. (Computing with Finance)</li>
          <li>BIS.  (Computer Information Systems)</li>
          <li>B.Sc. (Information Technology)</li>
        </ol></br>
          
        <th>Combined Major/Minor programmes leading to the award of:</th>
        <ol type="a">
          <li>B.Sc. (Other subject Major/ Computer Science Minor)</li>
        </ol>
        </p></br>
    
      <h3 class="ui header">
        <i class="align left icon"></i>
        <div class="content">
          Programme Details
          <div class="sub header">Discover all available programmes in the CS department</div></h3>
          <div class="ui accordion" style="text-size: 12em;">

            <div class="title">
              <i class="dropdown icon"></i>
                Computer Science
            </div>
            <div class="content"> <!--style="text-indent: 2em;">-->
                <!--<div class="ui top attached tabular menu">-->
                <!--    <a class="item active" data-tab="year1">Year I</a>-->
                <!--    <a class="item" data-tab="year2">Year II</a>-->
                <!--    <a class="item" data-tab="year3">Year III</a>-->
                <!--    <a class="item" data-tab="year4">Year IV</a>-->
                <!--    <a class="item" data-tab="minor">B.Sc. CS Minor</a>-->
                <!--</div>-->
                
                <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>
                
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#year1">Year I</a></li>
                    <li><a data-toggle="tab" href="#year2">Year II</a></li>
                    <li><a data-toggle="tab" href="#year3">Year III</a></li>
                    <li><a data-toggle="tab" href="#year4">Year IV</a></li>
                    <li><a data-toggle="tab" href="#minor">B.Sc. CS Minor></a></li>
                </ul>
            <!--    <div class="ui bottom attached tab segment active" data-tab="year1">-->
            <!--        <th>SEMESTER 1</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI131 Discrete Structures I [3 Credits]</li>-->
            <!--            <li>CSI141 Programming Principles [3 Credits]</li>-->
            <!--            <li>CSI161 Introduction to Computing [3 Credits]</li>-->
            <!--            <li>MAT111 Introductory Mathematics I [4 Credits]</li>-->
            <!--            <li>GEC COM141 Communication and study skills I [3 Credits]</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <th>SEMESTER 2</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI132 Discrete Structures II [3 Credits] (Pre-req CSI131)</li>-->
            <!--            <li>CSI142 Object-Oriented Programming [3 Credits] (Pre-req CSI141)</li>-->
            <!--            <li>MAT122 Introductory Mathematics II [3 Credits] (Pre-req MAT111)</li>-->
            <!--            <li>STA122 Introductory Concepts of Probability [4 Credits]</li>-->
            <!--            <li>GEC COM141 Communication and study skills I [3 Credits]</li>-->
            <!--        </ol>-->
            <!--    </div>-->
                    
            <!--    <div class="ui bottom attached tab segment active" data-tab="year2">-->
            <!--        <th>SEMESTER 1</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI247 Data Structures [3 Credits] (Pre-req CSI132, CSI142)</li>-->
            <!--            <li>CSI243 Functional Programming [3 Credits](Pre-req CSI142)</li>-->
            <!--            <li>CSI213 Discrete Structures III [3 Credits] (Pre-req CSI132)</li>-->
            <!--            <li>MAT221 Calculus I [3 Credits]</li>-->
            <!--            <li>Elective *[3 Credits]</br>-->
            <!--                *- students are advised to take MGT202</br>-->
            <!--                *- which is a pre-requisite to MGT303</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <th>SEMESTER 2</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI262 Database Concepts [3 Credits] (Pre-req CSI247)</li>-->
            <!--            <li>CSI223 Systems Programming [3 Credits] (Pre-req CSI247)</li>-->
            <!--            <li>CSI251 Computer Architecture & Organization-->
            <!--                [3 Credits] (Pre-req CSI161, CSI141)</li>-->
            <!--            <li>MAT212 Introductory Linear Algebra [3 Credits]</li>-->
            <!--            <li>Elective [3 Credits]</li>-->
            <!--        </ol></br></br>-->
            <!--    </div>-->
                
            <!--    <div class="ui bottom attached tab segment" data-tab="year3">-->
            <!--        <th>SEMESTER 1</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI323 Algorithms [3 Credits] (Pre-req CSI247)</li>-->
            <!--            <li>CSI354 Operating Systems [3 Credits] (Pre-req CSI247, CSI251)</li>-->
            <!--            <li>CSI374 Computer Networks [3 Credits] (Pre-req CSI142, CSI251)</li>-->
            <!--            <li>CSI342 Systems Analysis & Design [3 Credits] (Pre-req CSI262)</li>-->
            <!--            <li>Elective [3 Credits]</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <th>SEMESTER 2</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI315 Web Technology and Applications [3 Credits] (Pre-req CSI262, CSI374)</li>-->
            <!--            <li>CSI332 Programming Languages [3 Credits] (Pre-reqCSI243)</li>-->
            <!--            <li>CSI341 Introduction to Software Engineering [3 Credits] (Pre-req CSI342)</li>-->
            <!--        </ol></br></br>-->
            <!--        <th>Optional Courses</th></br>-->
            <!--        <th>Minimum 6 Credits From:</th>-->
            <!--        <ul>-->
            <!--            <li>CSI344 Artificial Intelligence [3 Credits] (Pre-req CSI247)</li>-->
            <!--            <li>CSI392 Human Computer Interaction [3 Credits] (Pre-req CSI342)</li>-->
            <!--            <li>MGT303 Entrepreneurship and New Business Formation [3 Credits] (Pre-req MGT202)</li>-->
            <!--        </ul></br></br></br>-->
                    
            <!--        <th>WINTER SEMESTER</th></br>-->
            <!--            CSI352 Industrial Attachment [3 Credits] (Pre-req CSI354, CSI374, CSI342)-->
            <!--    </div>-->
                
            <!--    <div class="ui bottom attached tab segment" data-tab="year4">-->
            <!--        <p>During Year IV, students choose from the following areas of specialization:</br>-->
            <!--           1. Software Engineering</br>-->
            <!--           2. Systems & Networks</br>-->
            <!--        </p>-->
                    
            <!--        <th>SEMESTER 1</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI413 Theory of Computation [3 Credits] (Pre-req CSI323)</li>-->
            <!--            <li>CSI475 Social Informatics [3 Credits] (Pre-req CSI352)</li>-->
            <!--            <li>CSI481 Database Systems [3 Credits] (Pre-req CSI262)</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <p><u>For Software Engineering Stream (Minimum 6 Credits)</u></p>-->
            <!--        <ol type="i">-->
            <!--            <li>CSI473 Software Design [3 Credits] (Pre-req CSI341)</li>-->
            <!--            <li>CSI447 Requirements Engineering [3 Credits] (Pre-req CSI341)</li>-->
            <!--            <li>CSI435 Intelligent Systems [3 Credits] (Pre-req CSI342)</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <p><u>For Systems & Networks Stream (Minimum 6 Credits)</u></p>-->
            <!--        <ol type="i">-->
            <!--            <li>CSI462 Distributed Computing [3 Credits] (Pre-req CSI354, CSI374)</li>-->
            <!--            <li>CSI453 Sensors Networks [3 Credits] (Pre-req CSI374)</li>-->
            <!--            <li>CSI493 Computer Graphics [3 Credits] (Pre-req CSI247)</li>-->
            <!--        </ol></br></br>-->
                    
                    
            <!--        <th>SEMESTER 2</th></br>-->
            <!--        <th>Core Courses</th>-->
            <!--        <ol type="1">-->
            <!--            <li>CSI408 Project [4 Credits] (Pre-req CSI352, CSI315, CSI341)</li>-->
            <!--            <li>CSI428 Programming Language Translation [3 Credits] (Pre-req CSI413)</li>-->
            <!--            <li>CSI468 Computer Networks & Security [3 Credits] (Pre-req CSI374)</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <p><u>For Software Engineering Stream (Minimum 6 Credits)</u></p>-->
            <!--        <ol type="i">-->
            <!--            <li>CSI444 Software Project Management [3 Credits] (Pre-req CSI447 or CSI473)</li>-->
            <!--            <li>CSI392 Human Computer Interaction [3 Credits] (Pre-req CSI342)</li>-->
            <!--            <li>CSI345 Integrative Programming [3 Credits] (Pre-req CSI223, CSI354)</li>-->
            <!--        </ol></br></br>-->
                    
            <!--        <p><u>For Systems & Networks Stream (Minimum 6 Credits)</u></p>-->
            <!--        <ol type="i">-->
            <!--            <li>CSI464 Mobile Computing [3 Credits]) (Pre-req CSI374)</li>-->
            <!--            <li>CSI424 Network Algorithms [3 Credits] (Pre-req CSI374, CSI323)</li>-->
            <!--        </ol></br></br>-->
            <!--    </div>-->
                
            <!--    <div class="ui bottom attached tab segment" data-tab="minor">-->
            <!--        <p>-->
            <!--            The following courses constitute a minor in Computer Science with a total credit of 34.</br>-->
                        
            <!--            B.Sc. (Computer Science - Minor)</br></br>-->
                        
            <!--            <u>First Year</u>-->
            <!--            <ul>-->
            <!--            <li>CSI131 Discrete Structures I [3 Credits]</li>-->
            <!--            <li>CSI141 Programming Principles [3 Credits]</li>-->
            <!--            <li>CSI161 Introduction to Computing [3 Credits]</li>-->
            <!--            <li>CSI132 Discrete Structures II [3 Credits]</li>-->
            <!--            <li>CSI142 Object-Oriented Programming [4 Credits]</li>-->
            <!--            </ul>-->
            <!--            </br></br>-->
                        
            <!--            <u>Second Year</u>-->
            <!--            <ul>-->
            <!--            <li>CSI247 Data Structures [3 Credits]</li>-->
            <!--            <li>CSI262 Database Concepts [3 Credits]</li>-->
            <!--            <li>CSI251 Computer Architecture & Organization [3 Credits]</li>-->
            <!--            </ul>-->
            <!--            </br></br>-->
                        
            <!--            <u>Third Year</u>-->
            <!--            <ul>-->
            <!--            <li>CSI354 Operating Systems [3 Credits]</li>-->
            <!--            <li>CSI374 Computer Networks [3 Credits]</li>-->
            <!--            <li>CSI315 Web Technology and Applications [3 Credits]</li>-->
            <!--            </ul>-->
            <!--        </p>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="tab-content">
                <div id="year1" class="tab-pane fade in active">
                    <th>SEMESTER 1</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI131 Discrete Structures I [3 Credits]</li>
                        <li>CSI141 Programming Principles [3 Credits]</li>
                        <li>CSI161 Introduction to Computing [3 Credits]</li>
                        <li>MAT111 Introductory Mathematics I [4 Credits]</li>
                        <li>GEC COM141 Communication and study skills I [3 Credits]</li>
                    </ol></br></br>
                    
                    <th>SEMESTER 2</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI132 Discrete Structures II [3 Credits] (Pre-req CSI131)</li>
                        <li>CSI142 Object-Oriented Programming [3 Credits] (Pre-req CSI141)</li>
                        <li>MAT122 Introductory Mathematics II [3 Credits] (Pre-req MAT111)</li>
                        <li>STA122 Introductory Concepts of Probability [4 Credits]</li>
                        <li>GEC COM141 Communication and study skills I [3 Credits]</li>
                    </ol>
                </div>
                    
                <div id="year2" class="tab-pane fade">
                    <th>SEMESTER 1</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI247 Data Structures [3 Credits] (Pre-req CSI132, CSI142)</li>
                        <li>CSI243 Functional Programming [3 Credits](Pre-req CSI142)</li>
                        <li>CSI213 Discrete Structures III [3 Credits] (Pre-req CSI132)</li>
                        <li>MAT221 Calculus I [3 Credits]</li>
                        <li>Elective *[3 Credits]</br>
                            *- students are advised to take MGT202</br>
                            *- which is a pre-requisite to MGT303</li>
                    </ol></br></br>
                    
                    <th>SEMESTER 2</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI262 Database Concepts [3 Credits] (Pre-req CSI247)</li>
                        <li>CSI223 Systems Programming [3 Credits] (Pre-req CSI247)</li>
                        <li>CSI251 Computer Architecture & Organization
                            [3 Credits] (Pre-req CSI161, CSI141)</li>
                        <li>MAT212 Introductory Linear Algebra [3 Credits]</li>
                        <li>Elective [3 Credits]</li>
                    </ol></br></br>
                </div>
                
                <div id="year3" class="tab pane">
                    <th>SEMESTER 1</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI323 Algorithms [3 Credits] (Pre-req CSI247)</li>
                        <li>CSI354 Operating Systems [3 Credits] (Pre-req CSI247, CSI251)</li>
                        <li>CSI374 Computer Networks [3 Credits] (Pre-req CSI142, CSI251)</li>
                        <li>CSI342 Systems Analysis & Design [3 Credits] (Pre-req CSI262)</li>
                        <li>Elective [3 Credits]</li>
                    </ol></br></br>
                    
                    <th>SEMESTER 2</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI315 Web Technology and Applications [3 Credits] (Pre-req CSI262, CSI374)</li>
                        <li>CSI332 Programming Languages [3 Credits] (Pre-reqCSI243)</li>
                        <li>CSI341 Introduction to Software Engineering [3 Credits] (Pre-req CSI342)</li>
                    </ol></br></br>
                    <th>Optional Courses</th></br>
                    <th>Minimum 6 Credits From:</th>
                    <ul>
                        <li>CSI344 Artificial Intelligence [3 Credits] (Pre-req CSI247)</li>
                        <li>CSI392 Human Computer Interaction [3 Credits] (Pre-req CSI342)</li>
                        <li>MGT303 Entrepreneurship and New Business Formation [3 Credits] (Pre-req MGT202)</li>
                    </ul></br></br></br>
                    
                    <th>WINTER SEMESTER</th></br>
                        CSI352 Industrial Attachment [3 Credits] (Pre-req CSI354, CSI374, CSI342)
                </div>
                
                <div id="year4" class="tab-pane fade">
                    <p>During Year IV, students choose from the following areas of specialization:</br>
                       1. Software Engineering</br>
                       2. Systems & Networks</br>
                    </p>
                    
                    <th>SEMESTER 1</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI413 Theory of Computation [3 Credits] (Pre-req CSI323)</li>
                        <li>CSI475 Social Informatics [3 Credits] (Pre-req CSI352)</li>
                        <li>CSI481 Database Systems [3 Credits] (Pre-req CSI262)</li>
                    </ol></br></br>
                    
                    <p><u>For Software Engineering Stream (Minimum 6 Credits)</u></p>
                    <ol type="i">
                        <li>CSI473 Software Design [3 Credits] (Pre-req CSI341)</li>
                        <li>CSI447 Requirements Engineering [3 Credits] (Pre-req CSI341)</li>
                        <li>CSI435 Intelligent Systems [3 Credits] (Pre-req CSI342)</li>
                    </ol></br></br>
                    
                    <p><u>For Systems & Networks Stream (Minimum 6 Credits)</u></p>
                    <ol type="i">
                        <li>CSI462 Distributed Computing [3 Credits] (Pre-req CSI354, CSI374)</li>
                        <li>CSI453 Sensors Networks [3 Credits] (Pre-req CSI374)</li>
                        <li>CSI493 Computer Graphics [3 Credits] (Pre-req CSI247)</li>
                    </ol></br></br>
                    
                    
                    <th>SEMESTER 2</th></br>
                    <th>Core Courses</th>
                    <ol type="1">
                        <li>CSI408 Project [4 Credits] (Pre-req CSI352, CSI315, CSI341)</li>
                        <li>CSI428 Programming Language Translation [3 Credits] (Pre-req CSI413)</li>
                        <li>CSI468 Computer Networks & Security [3 Credits] (Pre-req CSI374)</li>
                    </ol></br></br>
                    
                    <p><u>For Software Engineering Stream (Minimum 6 Credits)</u></p>
                    <ol type="i">
                        <li>CSI444 Software Project Management [3 Credits] (Pre-req CSI447 or CSI473)</li>
                        <li>CSI392 Human Computer Interaction [3 Credits] (Pre-req CSI342)</li>
                        <li>CSI345 Integrative Programming [3 Credits] (Pre-req CSI223, CSI354)</li>
                    </ol></br></br>
                    
                    <p><u>For Systems & Networks Stream (Minimum 6 Credits)</u></p>
                    <ol type="i">
                        <li>CSI464 Mobile Computing [3 Credits]) (Pre-req CSI374)</li>
                        <li>CSI424 Network Algorithms [3 Credits] (Pre-req CSI374, CSI323)</li>
                    </ol></br></br>
                </div>

                <div id="minor" class="tab-pane fade">
                    <p>
                        The following courses constitute a minor in Computer Science with a total credit of 34.</br>
                        
                        B.Sc. (Computer Science - Minor)</br></br>
                        
                        <u>First Year</u>
                        <ul>
                        <li>CSI131 Discrete Structures I [3 Credits]</li>
                        <li>CSI141 Programming Principles [3 Credits]</li>
                        <li>CSI161 Introduction to Computing [3 Credits]</li>
                        <li>CSI132 Discrete Structures II [3 Credits]</li>
                        <li>CSI142 Object-Oriented Programming [4 Credits]</li>
                        </ul>
                        </br></br>
                        
                        <u>Second Year</u>
                        <ul>
                        <li>CSI247 Data Structures [3 Credits]</li>
                        <li>CSI262 Database Concepts [3 Credits]</li>
                        <li>CSI251 Computer Architecture & Organization [3 Credits]</li>
                        </ul>
                        </br></br>
                        
                        <u>Third Year</u>
                        <ul>
                        <li>CSI354 Operating Systems [3 Credits]</li>
                        <li>CSI374 Computer Networks [3 Credits]</li>
                        <li>CSI315 Web Technology and Applications [3 Credits]</li>
                        </ul>
                    </p>
                </div>
            </div>
            </div>
                

            <div class="title">
              <i class="dropdown icon"></i>
                Computer Information Technology
            </div>
            <div class="content" style="text-indent: 2em;">
              <p>Some Info Here About CIT.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
                Computer Information Systems
            </div>
            <div class="content" style="text-indent: 2em;">
              <p>Some Info Here About CIS.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
                Computing With Finance
            </div>
            <div class="content" style="text-indent: 2em;">
              <p>Some Info Here About CWF.</p>
            </div>
          </div>
          
          <!--<div class="ui accordion">-->
          <!--  <div class="ui left pointing dropdown link item">-->
          <!--    <i class="dropdown icon"></i>-->
          <!--    Computer Science-->
          <!--    <div class="menu">-->
          <!--      <div class="header">Select Year</div>-->
          <!--      <div class="item">YEAR I</div>-->
          <!--      <div class="item">YEAR II</div>-->
          <!--      <div class="item">YEAR III</div>-->
          <!--      <div class="item">YEAR IV</div>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
        
        
    </div>
    <!-- Left Column -->

    <div class="six wide column">
    <div class="ui inverted segment">
        
      <h3>Available Opportunities For Certification</h3>
      <p>Whilst pursuing a degree, many undergradutes should also consider opportunities for certification such as<br/><a href="#opportunityModal">More</a>
      <div id="opportunityModal" class="modalDialog" >
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Available Opportunities For Certification</h3>
          <p>Whilst pursuing a degree, many undergradutes should also consider opportunities
              for program certification while still an undergradute. For such opportunities usually
              present themselves for less costs while still a student. In addition, a certified
              computer science graduate has an advantage over an un-certified graduate
              in the world of employment.<br/></p>
              <th>Such opportunities come in the form of:</th>
              <ul>
              <li><a href="http://www.cisco.com/web/learning/index.html" target="_blank">CISCO</a></li>
              <li><a href="https://training.sap.com" target="_blank">SAP</a></li>
              <li><a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=3" target="_blank">ORACLE</a></li>
              </ul>
        </div>
      </div>
      </p>

      <div class="ui inverted divider"></div>
      <h3>Events</h3>
      <p>Enrich your experience and expand your knowledge-base with these events available in our community<br/><a href="#eventModal">More</a>
      <div id="eventModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Upcoming Events</h3>
          <p align="center">09 October 2015</p>
          <ul align="center"><li><a href=http://gdggabs.github.io/devfest/ target="_blank">GOOGLE DEVELPOER GROUP GABORONE DEVFEST</a></li></ul>
        </div>
      </div>
      </p>
      <!-- {% include site-tags.html %}-->
        
      
      <div class="ui inverted divider"></div>
      <h3>Resourceful Coding Tutorials And  Blogs</h3>
      <p>Ever find yourself struggling with coding? Overcome that barrier using these online help centers<br/><a href="#resourcefulModal">More</a>
      <div id="resourcefulModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Resourceful Coding Tutorials<br/><br/></h3>
          <p>Programming Languages</p>
          <ul><li><a href=http://stackoverflow.com/tags target="_blank">STACKOVERFLOW</a></li></ul><br/><br/>
          <p>Web Development</p>
          <ul><li><a href=http://www.w3schools.com target="_blank">W3SCHOOLS</a></li></ul>
        </div>
      </div>
      </p>
        <!-- {% include site-categories.html %}-->
          
      </div>
    </div> <!-- /row -->
  </div>
</div>
