---
layout: landing
title: Undergraduate Center
description: Catering For The Undergraduate Community Of Computer Scientists
---
    
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    
<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
    <!-- Left Column -->
    <div class="ten wide column">
      <h3>Computer Science Undergraduate Center</h3>
        <p class="text-justify">Aspiring computer scientists are just as great of an importance to the community
          as are graduate computer scientists. Equipped with the appropriate resources and
          drive towards excellence, undergrads can achieve lengths of great heights.<br />
          As the computer science community, we intend to nurture and cultivate our 
          undergraduate computer scientists into beings of utmost excellence.<br/><br/>
          Alas, we intend to undergo the nurturing process by ensuring provision of
          <a href="/resources/" title="Resources">resources</a>,
          <a href="#eventModal" title="Activities" class="activities">activities</a>
          and presentation of opportunities within the Univeristy of Botswana
          community as well as within the external environment that will aid our aspiring
          computer scientists in their pursuit of excellence.<br/></br>
        </p>
        
        <p>The Department of Computer Science offers the following undergraduate programmes:</br></br>
        <th>Single Major programmes leading to the award of:</th> 
        <ol type="a">
          <li>B.Sc. (Computer Science)</li>
          <li>B.Sc. (Computing with Finance)</li>
          <li>BIS.  (Computer Information Systems)</li>
          <li>B.Sc. (Information Technology)</li>
        </ol></br>
          
        <th>Combined Major/Minor programmes leading to the award of:</th>
        <ol type="a">
          <li>B.Sc. (Other subject Major/ Computer Science Minor)</li>
        </ol>
        </p></br>
    
      <h3 class="ui header">
        <i class="align left icon"></i>
        <div class="content">
          Programme Details
          <div class="sub header">Discover all available programmes in the CS department</div></h3>
          <div class=" accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
                Computer Science
            </div>
            <div class="content">
              <p class="transition hidden">Some Info Here About CS.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
                Computer Information Technology
            </div>
            <div class="content">
              <p class="transition hidden">Some Info Here About CIT.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
                Computer Information Systems
            </div>
            <div class="content">
              <p class="transition hidden">Some Info Here About CIS.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
                Computing With Finance
            </div>
            <div class="content">
              <p class="transition hidden">Some Info Here About CWF.</p>
            </div>
          </div>
          
          <div class="accordion">
            <div class="ui left pointing dropdown link item">
              <i class="dropdown icon"></i>
              Computer Science
              <div class="menu">
                <div class="header">Select Year</div>
                <div class="item">YEAR I</div>
                <div class="item">YEAR II</div>
                <div class="item">YEAR III</div>
                <div class="item">YEAR IV</div>
              </div>
            </div>
          </div>
        
    <!--<script src="js/jquery-2.1.4.min.js"><\/script>
    
    <script src="js/accordion.js"></script>-->
        
    </div>
    <!-- Left Column -->

    <div class="six wide column">
    <div class="ui inverted segment">
        
      <h3>Available Opportunities For Certification</h3>
      <p>Whilst pursuing a degree, many undergradutes should also consider opportunities for certification such as<br/><a href="#opportunityModal">More</a>
      <div id="opportunityModal" class="modalDialog" >
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Available Opportunities For Certification</h3>
          <p>Whilst pursuing a degree, many undergradutes should also consider opportunities
              for program certification while still an undergradute. For such opportunities usually
              present themselves for less costs while still a student. In addition, a certified
              computer science graduate has an advantage over an un-certified graduate
              in the world of employment.<br/></p>
              <th>Such opportunities come in the form of:</th>
              <ul>
              <li><a href="http://www.cisco.com/web/learning/index.html" target="_blank">CISCO</a></li>
              <li><a href="https://training.sap.com" target="_blank">SAP</a></li>
              <li><a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=3" target="_blank">ORACLE</a></li>
              </ul>
        </div>
      </div>
      </p>

      <div class="ui inverted divider"></div>
      <h3>Events</h3>
      <p>Enrich your experience and expand your knowledge-base with these events available in our community<br/><a href="#eventModal">More</a>
      <div id="eventModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Upcoming Events</h3>
          <p align="center">09 October 2015</p>
          <ul align="center"><li><a href=http://gdggabs.github.io/devfest/ target="_blank">GOOGLE DEVELPOER GROUP GABORONE DEVFEST</a></li></ul>
        </div>
      </div>
      </p>
      <!-- {% include site-tags.html %}-->
        
      
      <div class="ui inverted divider"></div>
      <h3>Resourceful Coding Tutorials And  Blogs</h3>
      <p>Ever find yourself struggling with coding? Overcome that barrier using these online help centers<br/><a href="#resourcefulModal">More</a>
      <div id="resourcefulModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">x</a>
          <h3>Resourceful Coding Tutorials<br/><br/></h3>
          <p>Programming Languages</p>
          <ul><li><a href=http://stackoverflow.com/tags target="_blank">STACKOVERFLOW</a></li></ul><br/><br/>
          <p>Web Development</p>
          <ul><li><a href=http://www.w3schools.com target="_blank">W3SCHOOLS</a></li></ul>
        </div>
      </div>
      </p>
        <!-- {% include site-categories.html %}-->
          
      </div>
    </div> <!-- /row -->
  </div>
</div>
