{% for post in site.posts %}
    {% if post.tags %}
      {% for tag in post.tags %}
        {% if tag == 'feature' %}
          <div>
            <a href="{{ post.url }}">
              <h3 class="ui inverted header">{{post.title}}</h3>
            </a>
            {% if post.image %}
              <div class="thumb-img">
                <a href="{{ post.url }}">
                <img class="ui rounded image" src="{{ post.image }}" alt="{{ post.title }}">
                </a>
              </div>
            {% endif %}
            <a class="ui basic inverted animated button" href="{{ post.url }}">
              <div class="visible content">Read More</div>
              <div class="hidden content"><i class="right arrow icon"></i></div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}      
{% endfor %}
