<div class="ui inverted footer vertical segment">
  <!--UB CS patners-->
  <div class="ui inverted aligned segment">
    <!--First Patner 1 Start-->
    <div class="ui inverted aligned segment">
    <!--First Patner 1 Start-->
    <div class="item ">
      
      <div class="row">
        <div class="six wide column">
          {% if page.title == 'Home' %}
              <h5>Find us here1</h5>
                <!--{% include embedded-open-map.html  %}-->
                 <!--location="University+of+Botswana" height="328"-->
                   <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
 
    var lonLat = new OpenLayers.LonLat( -0.1279688 ,51.5077286 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
 
    var zoom=16;
 
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
 
    markers.addMarker(new OpenLayers.Marker(lonLat));
 
    map.setCenter (lonLat, zoom);
  </script>
  
          {% endif %}
            </div>
        <div class="six wide column">
           <div class="ui tiny image">
            <div class="item">
              <a marginLeft="" href="http://www.ub.bw/"><img style="margin:50px 0px" alt="University of Botswana" src="http://www.ub.bw/images/UB-logo.png"></a>
            </div>
            </div>
          </div>
            
        </div>
        </div>
      </div>
        
    <!--  <div class="content">-->
        <!--<div class="description">-->
        <!--  A description which may flow for several lines and give context to the content.-->
        <!--</div>-->
        <!--<div class="extra">-->
        <!--  16 <div class="ui heart rating" data-rating="0" data-max-rating="1"></div>-->
        <!--</div>-->
    <!--  </div>-->
    <!--</div>    -->
        

    <!--End of Patner 2 Start-->
  </div>
  <!--<div class="ui stackable page grid"> -->
  <!--  <div class="ten wide column">-->
  <!--    <div class="ui three column stackable grid">-->
  <!--      <div class="column">-->
  <!--        <h5 class="ui inverted header">Theme</h5>-->
  <!--        <div class="ui inverted link list">-->
  <!--          <a class="item" href="/blog/">Blog</a>-->
  <!--          <a class="item" href="/category/#theme">Theme Features</a>-->
  <!--          <a class="item" href="/tag/#embeds">Embed Plugins</a>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <h5 class="ui inverted header">Design</h5>-->
  <!--        <div class="ui inverted link list">-->
  <!--          <a class="item" href="{% post_url /blog/2014-12-15-content-strategy-for-startup-websites %}">Content Strategy</a>-->
  <!--          <a class="item" href="/kitchensink/">Semantic UI Examples</a>-->
  <!--          <a class="item" href="http://semantic-ui.com/">Semantic UI Site</a>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <h5 class="ui inverted header">GitHub</h5>-->
  <!--        <div class="ui inverted link list">-->
  <!--          <a class="item" href="https://github.com/open-start/opentheme">Get OpenTheme</a>-->
  <!--          <a class="item" href="{% post_url /blog/2014-11-26-open-cloud-based-workflow-for-designing-your-website %}">Cloud Workflow</a>-->
  <!--          <a class="item" href="{% post_url /blog/2014-12-2-data-driven-web-apps-using-github %}">Data Apps</a>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="six wide column">-->
  <!--    <div class="ui two column stackable grid">-->
  <!--      <div class="column">-->
  <!--        <h5 class="ui inverted header">Social</h5>-->
  <!--        <div class="ui inverted link list">-->
  <!--          <a class="item" href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i> Twitter</a>-->
  <!--          <a class="item" href="https://github.com/{{ site.github_username }}"><i class="github icon"></i> GitHub</a>-->
  <!--          <a class="item" href="{{ site.url }}/feed.xml"><i class="rss icon"></i> Feed</a>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <h5 class="ui inverted header">Contact Us</h5>-->
  <!--        <addr>-->
  <!--          123 Your Address Here <br>-->
  <!--          State, City <br>-->
  <!--        </addr>-->
  <!--        <p>(000) 123-4567</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</div>

<div class="ui left aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.

