<div id="first-segment" class="ui vertical bottom top attached basic segment">

	<div class="ui centered page grid">
		<div class="sixteen wide column">
			<div class="ui two column stackable grid">

				<div class="ui column">

					<div class="basic vertical container segment">
						<div class="ui middle aligned vertically centered inverted huge header">
							Derek Gerson
							<div class="sub header">
								San Francisco, CA
							</div>
						</div>
						<div class="ui hidden basic horizontal divider"></div>
						<div class="ui bottom attached evenly divided centered grid">
							<button class="ui icon large button">
							<i class="twitter icon"></i>
							</button>
							<button class="ui icon large button social-link"><i class="github icon"></i></button>
							<button class="ui icon large button"><i class="linkedin icon"></i></button>
						</div>
					</div>

				</div>

				<div class="ui column">
					<div class="basic vertical container inverted segment">

					<div id="tagline" class="ui middle aligned vertically centered justified relaxed inverted text container">
						Hi! I'm Derek, a passionate software engineer and app developer from California. I'm a DevBootcamp grad and I'm  currently looking to add steam to an awesome team with a purpose. I also build self-funded SaaS products from scratch in my spare time.
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
</div>
