<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}

        <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>

        <div class="ui stackable grid">
                  
          <div class="row">
            <div class="eight wide column">

              {% include embed-mailchimp.html tagline="Join The OpenTheme Club" button="Get Free Updates!" %}
            </div>
            <div class="eight wide column">
              <h2 class="slim-header-light">{{ site.description }}</h2>
            </div>
          </div> <!-- .row -->
        </div> <!-- .grid -->
    </div>
  </div>
</div>
<!-- /masthead -->
