<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column">
      <img style="position: relative; right: 50px; top: 10px;" class="logo icon" src="http://www.ub.bw/images/UB-logo.png" height="65px" width="65px">
        {% include menu.html %}
        
        <div class="ui stackable grid">
                  
          <div class="row">
            <div class="eight wide column">

            </div>
            <div class="eight wide column">
              <!--<p class="slim-header-light">{{ site.description }}</p>-->
            </div>
          </div> <!-- .row -->
        </div> <!-- .grid -->
    </div>
  </div>
</div>
<!-- /masthead -->
