
<!-- Cannot make async calls for jQuery or Semantic. Breaks Cards, Page Bar, others. -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.5.0/semantic.min.js"></script>

<script>
$(document)
  .ready(function() {

/*******************************
          Global
*******************************/

   $('.menu-search').bind('change', function () {
        var search_string = $(this).val(); // get value
        var url = '/search/?q=' + search_string
        if (url) { // require a URL
            window.location = url; // redirect
        }
        return false;
    });

    $('.sidebar').first()
      .sidebar('attach events', '.pagebar');
    
    $('.pagebar')
      .removeClass('disabled');

/*******************************
          Cards
*******************************/


    $('.special.cards .image').dimmer({
      on: 'hover'
    });
    
    $('.ui.rating')
      .rating({
        maxRating: 5
      });

    $('.ui.rating')
      .rating('disable');
      
    $('.embed-features')
      .popup();

    $('.menu-details')
      .popup();
      
    $('.score').progress();

});  
</script>

