<!-- masthead -->
<div class="ui masthead segment symphony">
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}
        
        <!-- information -->
        <div class="ui information">
            {%if page.title == 'Home' %}
              <h1>{{ site.tagline }}</h1>
              <h2>{{ site.description }}</h2>
              <a class="large orange animated fade ui button" href="https://github.com/open-start/opentheme">
                <div class="visible content">Get Started Now</div>
                <div class="hidden content">Fork on GitHub</div>
              </a>
            {% else %}
              <h1>{{ page.title }}</h1>
              <h2>{{ page.description }}</h2>
            {% endif %}
        </div> 
        <!-- /information -->
    </div>
  </div>
</div>
<!-- /masthead -->
