<div class="ui menu">
  <p>Logo</p>
  <a class="header item" href="/">Computer Science</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'Metrics' %}active{% endif %}" href="/metrics/" data-position="bottom left" data-content="Metrics and Analytics"><i class="icon dashboard"></i></a>
    <a class="item menu-details {% if page.title == 'Blog' %}active{% endif %}" href="/blog/" data-position="bottom left" data-content="Tutorials and Blog"><i class="icon comments"></i></a>
    <a class="item menu-details {% if page.title == 'Apps' %}active{% endif %}" href="/resources/" data-position="bottom left" data-content="Resources"><i class="icon cube"></i></a>
    <a class="item menu-details {% if page.title == 'Embeds' %}active{% endif %}" href="/research/" data-position="bottom left" data-content="Research"><i class="wizard icon"></i></a>
    <a class="item menu-details {% if page.title == 'About' %}active{% endif %}" href="/metrics/" data-position="bottom left" data-content="About"><i>About</i></a>

    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
      <a class="item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>
