<div class="ui inverted purple menu">
  <a class="header item" href="/">OpenTheme.co</a>
  <div class="right menu">
      <a class="item {% if page.title == 'Categories' %}active{% endif %}" href="/category/#theme"><i class="icon flag"></i> Features</a>
      <a class="item {% if page.title == 'Content Strategy For Startup Websites' %}active{% endif %}" href="{% post_url /blog/2014-12-15-content-strategy-for-startup-websites %}"><i class="icon idea"></i> Strategy</a>
      <a class="item {% if page.title == 'Blog' %}active{% endif %}" href="/blog/"><i class="icon comments"></i> Blog</a>
    {% if site.pagebar %}
      <a class="mobile item pagebar"><i class="icon content"></i></a>
      <a class="item pagebar"><i class="icon content"></i> Templates</a>
    {% endif %}
  </div>
</div>