{% if include.source %}
  <a class="ui small statistic indicating progress {{ include.evaluate | downcase | replace:' ','-' }}"  data-percent="{{ include.current }}" href="{{ include.source }}">
    <div class="value {{ include.evaluate | downcase | replace:' ','-' }}-value">
      {{ include.current }}
    </div>
    <div class="label">
      {{ include.evaluate }}
    </div>
  </a>

{% else %}

  <div class="ui tiny indicating progress percent {{ include.evaluate | downcase | replace:' ','-' }}" data-percent="{{ include.current }}">
    <div class="bar"></div>
  </div>
{% endif %}