<div class="ui right vertical labeled icon purple inverted very thin sidebar menu">
    <a class="item" href="/apps/">
    <i class="cube icon"></i>
    Apps
    </a>
    <a class="item" href="/blog/">
    <i class="comments icon"></i>
    Blog
    </a>
    <a class="item" href="/embeds/">
    <i class="wizard icon"></i>
    Embeds
    </a>
    <a class="item" href="/panoramio/">
    <i class="pin icon"></i>
    Panoramio Map
    </a>
    <a class="item" href="/tag/">
    <i class="tags icon"></i>
    Tag Browser
    </a>
    <a class="item" href="/category/">
    <i class="bookmark icon"></i>
    Category List
    </a>
    <a class="item" href="/kitchensink/">
    <i class="block layout icon"></i>
    Kitchen Sink
    </a>
</div>
