<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>

    <a class="item" href="https://github.com/open-start/opentheme">
    <i class="download icon"></i>
    Get OpenTheme
    </a>

    <a class="item" href="/metrics/">
    <i class="dashboard icon"></i>
    Metrics <span class="ui teal mini label">New</span>
    </a>
    <a class="item" href="/apps/">
    <i class="cube icon"></i>
    Apps <span class="ui blue mini label">{{ site.categories.app | size  }}</span>
    </a>
    <a class="item" href="/blog/">
    <i class="comments icon"></i>
    Blog
    </a>
    <a class="item" href="/embeds/">
    <i class="wizard icon"></i>
    Plugin Embeds <span class="ui purple mini label">{{ site.data.embeds | size }}</span>
    </a>
    <a class="item" href="/panoramio/">
    <i class="pin icon"></i>
    Panoramio Map
    </a>
    <a class="item" href="/tag/">
    <i class="tags icon"></i>
    Tag Browser
    </a>
    <a class="item" href="/category/">
    <i class="bookmark icon"></i>
    Category List
    </a>
    <a class="item" href="/kitchensink/">
    <i class="block layout icon"></i>
    Kitchen Sink
    </a>
</div>
