<div class="ui purple segment inverted postbar">
    <div class="row">
      <div class="column">
        <h3 class="ui inverted header">Recent articles</h3>
        <div class="ui inverted divider"></div>
        {% include recent-posts.html %}
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h3 class="ui inverted header">Tags</h3>
        <div class="ui inverted divider"></div>
        {% include site-tags.html %}
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h3 class="ui inverted header">Categories</h3>
        <div class="ui inverted divider"></div>
        {% include site-categories.html %}
      </div>
    </div> <!-- /row -->
</div>
