<div class="ui vertical bottom attached inverted orange segment">

	<div class="ui centered page grid">
		<div class="sixteen wide column">
			<div class="ui two column stackable grid">

				<div class="ui column">

					<div class="basic vertical container segment">
						<div class="ui middle aligned vertically centered inverted huge header">
							Derek Gerson
							<div class="sub header">
								San Francisco, CA
							</div>
						</div>
						<div class="ui hidden basic horizontal divider"></div>
						<div class="ui bottom attached evenly divided centered grid inverted lra ge">
							<button class="ui inverted lra ge icon button">
							<i class="twitter icon"></i>
							</button>
							<button class="ui inverted lra ge icon button"><i class="github icon"></i></button>
							<button class="ui inverted lra ge icon button"><i class="linkedin icon"></i></button>
						</div>
					</div>
					<div class="ui hidden basic horizontal divider"></div>

				</div>

				<div class="ui column">
					<div class="basic vertical inverted container segment">

					<div class="ui middle aligned vertically centered justified relaxed text container">
						Hi, I'm Derek, a developer from California. I'm currently employed as a Backend Engineer at a Neighborly. I also write and build self-funded SaaS products from scratch in my spare time.
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
</div>
