<div class="ui vertical bottom attached basic segment">

	<div class="ui centered page grid">
			<div class="ui two column stackable grid">

				<div class="four wide top aliged column">

					<div class="basic vertical container segment">
						<div class="ui top aligned vertically centered inverted container">
							<h2> Projects </h2>
							San Francisco, CA
						</div>
					</div>
					

				</div>

				<div class="ten wide column">
					<div class="basic vertical inverted container segment">
					<div class="ui doubling two cards">

						<div id="faeree-project" class="ui card" href="faeree.co">
						  <div class="image">
						    <img src="http://imgur.com/JQskXxs.png">
						  </div>
						  <div class="content">
						    <a class="header">Faeree</a>
						    <div class="meta">
						      <span class="date">2015</span>
						    </div>
						    <div class="description">
						      Faeree is your street sweeping fairy.
						    </div>
						  </div>
						  <div class="extra content">
						    <a>
						      <i class="checkered flag icon"></i>
						      v0.5 Deployed
						    </a>
						  </div>

						</div>
					</div>

					
					</div>
					
				</div>
				</div>

			</div>
		</div>
</div>
