<div class="ui inverted animated selection list">
  {% for post in site.posts limit:site.recent_posts_limit %}
  {% if page.title != post.title %}
    {% if post.category %}<a class="ui ribbon small label"  href="/category/#{{ post.category }}">{{ post.category }}</a>{% endif %}
    <a class="item" href="{{ post.url | prepend: site.baseurl }}">
      <div class="recent-posts-title">{{ post.title }}</div>
      {% if post.thumb %}
      <div clas="thumb-img">
        <img class="ui rounded image" src="/img/blog/thumbs/{{ post.thumb }}">
      </div>
      {% else %}
      <small> {{post.excerpt}} </small>
      {% endif %}
      <div class="right floated"><small>{{ post.date | date: "%b %-d, %Y" }}</small></div>
    </a>
  {% endif %}
  {% endfor %}
</div>
