<div class="ui inverted animated selection list">
  {% for post in site.posts limit:site.recent_items %}
    {% capture first_tag %}{{ post.tags | first }}{% endcapture %}
    {% if first_tag != 'feature' and post.category != 'app' %}
      {% if post.category %}<a class="ui ribbon small label"  href="/category/#{{ post.category }}">{{ post.category }}</a>{% endif %}
      <a class="item" href="{{ post.url }}">
        <div class="recent-posts-title">{{ post.title }}</div>
        {% if post.image %}
        <div class="thumb-img">
          <img class="ui rounded image" src="{{ post.image }}" alt="{{ post.title }}">
        </div>
        {% else %}
        <small> {{post.excerpt}} </small>
        {% endif %}
        <div class="right floated"><small>{{ post.date | date: "%b %-d, %Y" }}</small></div>
      </a>
    {% endif %}
  {% endfor %}
</div>
