<div class="ui inverted animated selection list">
  {% for post in site.posts limit:site.recent_posts_limit %}
  {% if page.title != post.title %}
    <a class="item" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.category %}<div class="ui ribbon small label">{{ post.category }}</div>{% endif %}
      <div class="recent-posts-title">{{ post.title }}</div>
      {% if post.thumb %}
      <div>
        <img class="ui rounded image" src="/img/blog/thumbs/{{ post.thumb }}">
      </div>
      {% endif %}
      <div class="right floated"><small>{{ post.date | date: "%b %-d, %Y" }}</small></div>
    </a>
  {% endif %}
  {% endfor %}
</div>
