<div class="flexslider">
  <ul class="slides">
  {% for post in site.posts limit:site.recent_items %}
    {% capture first_tag %}{{ post.tags | first }}{% endcapture %}
    {% if first_tag != 'feature' and post.category == 'app' %}
    <li>
      <a href="{{ post.url }}"><img src="{% if post.image %}{{ post.image }}{% else %}{{ site.default_image }}{% endif %}" alt="{{ post.title }}"></a>
      <p class="ui teal label">{{ post.title }}</p>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
