/*--------------
    Header
---------------*/
.global .masthead {
  margin: 0em;
  padding: 1rem 0rem;
}
.global .masthead .column {
  position: relative;
}
.global .masthead .information {
  margin: 1em;
}
