/*******************************
       Global Resets
*******************************/
html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.ui.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}