/*******************************
       Global Resets
*******************************/
html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.slim-header-light {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.ui.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}