/*--------------
    Subtle Patterns
---------------*/
.global .tiny-grid {
  background-image: url(img/tiny_grid.png);
}

.global .graphy {
  background-image: url(img/graphy.png);
}

.global .dark-wood {
  background-image: url(img/dark_wood.png);
}

.global .retina-wood {
  background-image: url(img/retina_wood.png);
}

.global .escheresque {
  background-image: url(img/escheresque_ste.png);
}

.global .grey-wash-wall {
  background-image: url(img/grey_wash_wall.png);
}

.global .skulls {
  background-image: url(img/skulls.png);
}

.global .symphony {
  background-image: url(img/symphony.png);
}