/*--------------
    Tags
---------------*/

.global .tag {
  margin-right: 5px;
  margin-bottom: 5px;
}

.global .label.categories {
  margin-right: 5px;
  margin-bottom: 5px;
}

.global .recent-posts-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.global .thumb-img {
  margin-top: 15px;
  margin-bottom: 15px;
}
