  {% include head.html %}
  </head>
  <body class="global landing">
    <div class= "ui segments">
      {% include header-section.html %}
      {% include projects-section.html %}
    </div>
  
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    {% endif %}

    {% include js.html %}
    {% include embed-google-analytics.html %}
  </body>

</html>






  {% include head.html %}
  </head>
  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}
        <div class= "ui segments">
          {% include header-section.html %}
          {% include projects-section.html %}
        </div>
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    {% endif %}

    {% include js.html %}
    {% include embed-google-analytics.html %}
  </body>

</html>
