    {% include head.html %}
    
    <style>
    #map-canvas {
      height: 450px;
      margin-bottom: 20px;
      padding: 0px
    }
    
    #target {
          width: 345px;
        }
    
    .panoramio .controls {
      margin-top: 16px;
      margin-bottom: 16px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    #tag, #pac-input {
      background-color: #fff;
      padding: 0 11px 0 13px;
      width: 250px;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
    }
    
    #tag:focus, #pac-input:focus {
      border-color: #4d90fe;
      margin-left: -1px;
      padding-left: 14px;  /* Regular padding-left + 1. */
      width: 251px;
    }
    
    .panoramio .pac-container {
      font-family: Roboto;
    }
    
    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }
    
    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
    </style>


  </head>

  <body class="global landing panoramio">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
    
    {% include js.html %}
    <!-- Google Maps -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=panoramio,places"></script>
    <script src="//ssl.panoramio.com/wapi/wapi.js?v=1"></script>
    <script>
    var map;
    
    google.maps.event.addDomListener(window, 'load', function() {
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: { lat: 20, lng: -160 },
        zoom: 3
      });
    
      // Get the earthquake data (JSONP format)
      // This feed is a copy from the USGS feed, you can find the originals here:
      //   http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php
      var script = document.createElement('script');
      script.setAttribute('src',
        '{{ page.geo_json }}');
      document.getElementsByTagName('head')[0].appendChild(script);
    });
    
    // Defines the callback function referenced in the jsonp file.
    function eqfeed_callback(data) {
      map.data.addGeoJson(data);
    }

    </script>
    
    {% include embed-google-analytics.html %}

  </body>

</html>
