<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  </head>
  <body class="global landing">
    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script src="/js/landing.js"></script>
  </body>

</html>
