<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>
  <body class="global landing home">
    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/landing.js"></script>
  </body>

</html>
