<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/panoramio.css">
  
  </head>

  <body class="global landing panoramio">
    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
    
    {% include js.html %}
    <!-- Google Maps -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=panoramio,places"></script>
    <script src="//ssl.panoramio.com/wapi/wapi.js?v=1"></script>
    <script src="/js/panoramio.js"></script>

  </body>

</html>
