<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  {% include css.html %}
  {% include css-panoramio.html %}
  
  <!-- Google Maps requires pre-loading JS -->
  {% include js-panoramio.html %}
  </head>
  <body class="global landing home">
    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
    
    {% include js.html %}
  </body>

</html>
