    {% include head.html %}
    
    <style>
    #map-canvas {
      height: 450px;
      margin-bottom: 20px;
      padding: 0px
    }
    
    #target {
          width: 345px;
        }
    
    .panoramio .controls {
      margin-top: 16px;
      margin-bottom: 16px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    #tag, #pac-input {
      background-color: #fff;
      padding: 0 11px 0 13px;
      width: 250px;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
    }
    
    #tag:focus, #pac-input:focus {
      border-color: #4d90fe;
      margin-left: -1px;
      padding-left: 14px;  /* Regular padding-left + 1. */
      width: 251px;
    }
    
    .panoramio .pac-container {
      font-family: Roboto;
    }
    
    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }
    
    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
    </style>


  </head>

  <body class="global landing panoramio">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
    
    {% include js.html %}
    <!-- Google Maps -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=panoramio,places"></script>
    <script src="//ssl.panoramio.com/wapi/wapi.js?v=1"></script>
    <script>
    function initialize() {
      // The photoDiv defines the DIV within the info window for
      // displaying the Panoramio photo within its PhotoWidget.
      var photoDiv =  document.createElement('div');
    
      // The PhotoWidget width and height are expressed as number values,
      // not string values.
      var photoWidgetOptions = {
        width: 440,
        height: 300
      };
    
      // We construct a PhotoWidget here with a blank (null) request as we
      // don't yet have a photo to populate it.
      var photoWidget = new panoramio.PhotoWidget(photoDiv, null,
          photoWidgetOptions);
    
      var markers = [];
      var map = new google.maps.Map(document.getElementById('map-canvas'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    
      var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(40.749956, -73.990991),
          new google.maps.LatLng(40.746168, -73.978508));
      map.fitBounds(defaultBounds);
    
      var infoWindow = new google.maps.InfoWindow();
      var panoramioLayer = new google.maps.panoramio.PanoramioLayer({
        suppressInfoWindows: true
      });
    
      // Set default tag to avoid crowding the map with all photos
      panoramioLayer.setTag('building');
      panoramioLayer.setMap(map);
    
      var tag = document.getElementById('tag');
    
      google.maps.event.addDomListener(tag, 'input', function() {
        if (tag.value.length >= 3 || tag.value.length == 0) {
          panoramioLayer.setTag(tag.value);
        }
      });
    
      map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(
          document.getElementById('tag'));
    
      google.maps.event.addListener(panoramioLayer, 'click', function(e) {
        var photoRequestOptions = {
          ids: [{
            'photoId': e.featureDetails.photoId,
            'userId': e.featureDetails.userId
          }]
        };
        photoWidget.setRequest(photoRequestOptions);
        photoWidget.setPosition(0);
        infoWindow.setPosition(e.latLng);
        infoWindow.open(map);
        infoWindow.setContent(photoDiv);
      });
    
    // Create the search box and link it to the UI element.
      var input = /** @type {HTMLInputElement} */(
          document.getElementById('pac-input'));
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
    
      var searchBox = new google.maps.places.SearchBox(
        /** @type {HTMLInputElement} */(input));
    
      // Listen for the event fired when the user selects an item from the
      // pick list. Retrieve the matching places for that item.
      google.maps.event.addListener(searchBox, 'places_changed', function() {
        var places = searchBox.getPlaces();
    
        if (places.length == 0) {
          return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
          marker.setMap(null);
        }
    
        // For each place, get the icon, place name, and location.
        markers = [];
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places[i]; i++) {
          var image = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };
    
          // Create a marker for each place.
          var marker = new google.maps.Marker({
            map: map,
            icon: image,
            title: place.name,
            position: place.geometry.location
          });
    
          markers.push(marker);
    
          bounds.extend(place.geometry.location);
        }
    
        map.fitBounds(bounds);
      });
    
      // Bias the SearchBox results towards places that are within the bounds of the
      // current map's viewport.
      google.maps.event.addListener(map, 'bounds_changed', function() {
        var bounds = map.getBounds();
        searchBox.setBounds(bounds);
      });
      
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    
    {% include embed-google-analytics.html %}

  </body>

</html>
