  {% include head.html %}
  </head>
  <body class="global landing metrics">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    
    <script src="/js/metrics.min.js"></script>
    
    {% include embed-google-analytics.html %}
  </body>

</html>
