<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="global post">
    {% include page-bar.html %}
    <div class="pusher">
        {% include post-header.html %}
        <div class="ui vertical segment">
          <div class="ui very relaxed stackable page grid">
            {% if site.postbar %}
            <div class="ten wide column">
            {% else %}
            <div class="sixteen wide column">
            {% endif %}
                {% if page.image %}
                <img class="ui rounded image" src="/img/blog/{{ page.image }}">
                {% endif %}
                {{ content }}
                {% include posts-paginator.html %}
                <div class="ui divider"></div>
                {% include disqus.html %}    
            </div>
            {% if site.postbar %}
            <div class="six wide column">
                {% include post-bar.html %}
            </div>
            {% endif %}
          </div>
        </div>
        {% include footer.html %}
    </div>
 </body>

</html>
