<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="global post">
    {% if site.pagebar %}
    <div class="ui right vertical labeled icon sidebar menu">
        {% include page-bar.html %}
    </div>
    <div class="pusher">
    {% endif %}
        {% include post-header.html %}
        <div class="ui vertical segment">
          <div class="ui very relaxed stackable page grid">
            <div class="sixteen wide column">
                {{ content }}
            </div>
          </div>
        </div>
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}
 </body>

</html>
