<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="/css/flexslider/flexslider.css">
  <!-- Modernizr -->
  <script src="/js/modernizr.js"></script>
  
  </head>
  <body class="global landing">
    {% if site.facebook %}
      {% include fb-setup.html %}
    {% endif %}

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
      {% include slider-header.html %}
      {{ content }}
      {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}

    <script src="/js/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
    // Can also be used with $(document).ready()
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
  	</script>
  
    <script src="/js/landing.js"></script>
  </body>

</html>
